@keyframes smoke {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.smoke {
  animation-delay: 0s;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-name: smoke;
  animation-timing-function: linear;
  background-color: #a0a0a0;
  border-radius: 0.5rem;
  height: 1rem;
  position: absolute;
  width: 1rem;
}
